# SECURITY
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
REFRESH_TOKEN_MAX_LIFETIME_DAYS=30

# APP
ENV=development

# DATABASE
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=

# TEST DATABASE
TEST_DB_URL=sqlite+aiosqlite:///./test.db

# REDIS
REDIS_URL=redis://redis:6379/0

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=